<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Todo-App</title>
</head>
<body>
    <div>
        <form action="/create-todo" method = "POST">
            <div>
                <label for="description">Description</label>
                <input type="text" name="description" id="description" placeholder="What do you need to do?">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category" >
                    <option value="none">Choose a category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="school">School</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                <label for="due_date">Due-Date</label>
                <input type="date" id="due_date" name="due_date">
            </div>
            
            <input type="submit" value="ADD TASK">

        </form>
    </div>
    <div id="display-task">
        <ul>
            <%for(let i of todo_list){%>
                <li>
                    <input type="checkbox" >
                    <span>
                        <%= i.description %>
                    </span>
                    
                    <span>
                        <i class="fas fa-calendar-alt"></i>
                        <span>
                            <%= i.due_date %>
                        </span>
                    </span>
                    <span>
                        <%= i.category %>
                    </span>
     
                </li>
            <%}%>
        </ul>
        
    </div>
    
</body>
</html>